.solutionCon {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 15.7vw;
  }
  .solutionCon .headingTopic {
    font-size: 2vw;
    font-weight: 600;
    padding-bottom: 2vw;
  }
  .solutionCon .heading {
    font-size: 7.3vw;
    font-weight: 800;
    padding-bottom: 1vw;
  }
  .solutionCon .subHead {
    font-size: 2vw;
    padding-bottom: 5vw;
  }
  .solutionCon .description {
      padding: 0 1.5vw;
      font-size: 2.083vw;
      text-align: justify;
      padding-bottom: 5vw;
  }
  .solutionCon .imgCon {
      width: 95%;
      padding-bottom: 4vw;
  }
  .solutionCon .imgCon img {
      width: 100%;
  }